<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.4022.49" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="3.0.260520.1" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.260126.7" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.28000.1839" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.7.260224002" targetFramework="native" />
</packages>