<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="dd17cdf8-0460-4769-bebd-da9089faec9d"
	  Publisher="CN=breec"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>CppDemoWinUI3</DisplayName>
		<PublisherDisplayName>breec</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="CppDemoWinUI3"
			  Description="CppDemoWinUI3"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<!-- Todo: Something about the tooling seems broken where when you build a second time,
	the ActivatableClass lines disappear, so they are in here for now to make things easier.
	Ideally, there would be no Extensions section at all. I have no idea why this happens.-->
	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>WinUIEditor.dll</Path>
				<ActivatableClass ActivatableClassId="WinUIEditor.EditorBaseControl" ThreadingModel="both" />
				<ActivatableClass ActivatableClassId="WinUIEditor.XamlMetaDataProvider" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
